<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- DBMS의 연결 정보를 설정하는 태그
       => default : 여러 설정 정보 중에서 사용할 설정의 이름을 지정한다. 
    -->
  <environments default="development">
  
    <!-- 특정 DBMS와의 연결 정보를 설정한다.
         => id : 설정 식별이다. 위의 environments의 default 속성에서 사용한다.  
     -->
    <environment id="development">
    
    <!-- 트랜잭션 관리자를 지정한다.
        => type : 트랜잭션 관리자의 타입.
                  JDBC는 프로그램 코드에서 트랜잭션을 제어하겠다는 의미. 
     -->    
      <transactionManager type="JDBC"/>
      
      <!-- DB 커넥션풀에서 관리할 연결 정보 -->
      <dataSource type="POOLED">
        <property name="driver"   value="com.mysql.jdbc.Driver"/>
        <property name="url"      value="jdbc:mysql://localhost:3306/java80db"/>
        <property name="username" value="java80"/>
        <property name="password" value="1111"/>
      </dataSource>
      
    </environment>
  </environments>
  
  <!-- SQL문이 들어있는 파일의 목록 -->
  <mappers>
    
    <!-- SQL 파일의 경로를 설정한다. -->
    <mapper resource="step30/exam01/MemberMapper.xml"/>
  </mappers>
</configuration>