<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <!-- SQL Mapper 파일에서 결과 또는 파라미터 타입을 설정할 때
       짧은 이름으로 VO 클래스를 지정할 수 있도록 별명을 선언한다.
   -->
  <typeAliases>
    <typeAlias type="step30.exam03.Member" alias="Member"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver"   value="com.mysql.jdbc.Driver"/>
        <property name="url"      value="jdbc:mysql://localhost:3306/java80db"/>
        <property name="username" value="java80"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="step30/exam03/MemberMapper.xml"/>
  </mappers>
</configuration>